.loginForm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
    align-self: center;
    padding: 50px;
    width: 350px;
    background: linear-gradient(180deg, #ff8c00, #ff4500);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 5px 8px 10px black;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    width: 90%;
    padding: 12px;
    border: none;
    border: 1px solid #333;
    outline: none;
    border-radius: 25px;
    font-size: 1rem;
    text-align: center;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease-in-out;
}

.login-btn:hover {
    background: #3a3a3a;
}

h5 {
    margin-top: 15px;
    color: white;
}

h5 a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}
.password-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .password-wrapper input {
    width: 100%;
    padding: 12px;
    padding-right: 40px; /* Space for the icon */
    border: 1px solid #333;
    border-radius: 25px;
    font-size: 1rem;
  }
  
  .password-wrapper input::placeholder {
    margin-right: -18px;
  }
  
  .visibility-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    transition: color 0.3s ease-in-out;
    padding: 0;
    width: 24px;
    height: 24px;
  }

  .visibility-btn:hover {
    color:#ff8c00;
  }