.books-container {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .bookpage-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color:  #ff4500;
  }
  
  .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 2fr));
    gap: 10px;
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
  }
  
  .book-card {
    background: white;
    padding: 15px;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    min-width: 300px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .book-card:hover {
    transform: translateY(-5px);
  }
  
  .book-image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  
  .book-info {
    padding: 10px;
  }
  
  .book-title {
    font-size: 1.2rem;
    color: #333;
  }
  
  .book-author {
    font-size: 1rem;
    color: #666;
  }
  
  .book-summary {
    font-size: 0.9rem;
    color: #444;
    margin-top: 5px;
  }
  
  .book-date {
    font-size: 0.8rem;
    color: #777;
    margin-top: 5px;
  }
  

  .delete-btn:hover {
    border-radius: 3px;
    background-color: #c1c1c1;
    
  }